@import "@/styles/color.scss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}


main {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;

    section {
        display: grid;
        width: 100%;
        height: 100%;
        padding: 3rem;
        background-color: $greySoft;
    }
}