@use "@/styles/components/bar";
@use "@/styles/components/information";
@use "@/styles/components/card";
@use "@/styles/components/text";
@import "@/styles/color.scss";

main {
    section#reservation {
        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: 3rem;

        #reservation-bar {
            @extend %bar;
        }

        #reservation-content {
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .card {
                @extend %card;
            }

            #reservation-empty {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                background-color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                i {
                    font-size: 3rem;
                    color: $grey;
                }

                p {
                    @extend %text;
                }
            }
        }

        #reservation-information {
            @extend %information;
        }
    }
}