@use "@/styles/components/information";
@use "@/styles/components/progress";
@use "@/styles/components/control";
@use "@/styles/components/button";
@use "@/styles/components/text";
@import "@/styles/color.scss";

main {
    section#search {
        padding: 0;
        grid-template-rows: repeat(3, auto) 1fr;
        gap: 3rem;

        #search-progress {
            padding: 3rem 3rem 0 3rem;
            @extend %progress;
        }

        #search-information {
            padding: 0 3rem;
            @extend %information;
        }

        #search-title {
            padding: 0 3rem;
            display: flex;
            justify-content: center;

            h1 {
                font-size: 3.2rem;
                font-weight: 800;
                color: $black;
            }
        }

        #search-content {
            overflow: hidden;

            article {
                width: 100%;
                height: 100%;
                padding: 0 3rem;

                &#loading {
                    padding: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 1.8rem;
                        color: $grey;
                    }
                }

                &#type {
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .type {
                        cursor: pointer;
                        padding: 2rem;
                        border-radius: 1rem;
                        background-color: $white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1.5rem;

                        .type-icon {
                            width: 8rem;
                            height: 8rem;
                            border-radius: 50%;
                            background-color: $primary;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            i {
                                font-size: 3rem;
                                color: $white;
                            }
                        }

                        h2 {
                            font-size: 1.8rem;
                            font-weight: 800;
                            color: $black;
                        }
                    }
                }

                &#location {
                    display: grid;
                    grid-template-rows: auto 1fr;
                    gap: 3rem;

                    li.option {
                        cursor: pointer;
                        padding: 2rem;
                        border-radius: 1rem;
                        background-color: $white;
                        font-size: 1.6rem;
                        font-weight: 800;
                        color: $black;
                    }

                    ul#location-history {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;

                        li.option {
                            border: 0.3rem solid $primary;
                            background-color: $primarySoft;
                            color: $primary;
                        }
                    }

                    ul#location-options {
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;
                        margin-bottom: 3rem;
                    }
                }

                &#filters {
                    padding: 0;
                    display: grid;
                    grid-template-rows: 1fr auto;
                    gap: 3rem;

                    #filters-content {
                        position: relative;
                        overflow: hidden;
                        padding: 0 3rem;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        align-items: flex-start;
                        gap: 1.5rem;

                        #filters-overlay {
                            z-index: 5;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            padding: 5rem;
                            background-color: rgba(239, 242, 249, 0.6);
                            backdrop-filter: blur(0.25rem);
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            p {
                                @extend %text;
                                text-align: center;
                            }
                        }

                        .filters-line {
                            grid-column: 1 / span 2;
                            display: grid;
                            grid-template-columns: 1fr auto 1fr;
                            align-items: center;
                            gap: 1rem;

                            hr {
                                border: none;
                                height: 0.1rem;
                                border-radius: 1rem;
                                background-color: $grey;
                                opacity: 0.25;
                            }

                            h3 {
                                font-size: 1.4rem;
                                font-weight: 500;
                                color: $grey;
                            }
                        }

                        .control {
                            @extend %control;
                        }
                    }

                    #filters-button {
                        padding: 3rem;
                        background-color: $primary;
                        border-radius: 4rem 4rem 0 0;

                        button {
                            @extend %button;
                        }
                    }
                }
            }
        }

        #guide-content {
            padding: 3rem 3rem 0 3rem;
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 3rem;

            #guide-logo {
                margin: 0 auto;
                width: 12.5rem;
                height: 12.5rem;
                background-color: $primary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 8rem;
                    height: 8rem;
                }
            }

            #guide-chat {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                .message {
                    padding: 1rem 1.5rem;

                    &.incoming {
                        margin-right: 3rem;
                        border-radius: 1rem 1rem 1rem 0;
                        background-color: $primary;

                        p {
                            color: $white;
                        }
                    }

                    &.outgoing {
                        margin-left: 3rem;
                        border-radius: 1rem 1rem 0 1rem;
                        background-color: $white;

                        p {
                            color: $black;
                        }
                    }

                    p {
                        @extend %text;
                        font-weight: 600;
                    }
                }
            }
        }

        #guide-buttons {
            background-color: $primary;
            border-radius: 4rem 4rem 0 0;
            padding: 3rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 1.5rem;

            button {
                @extend %button;
                padding: 1.5rem;

                &:first-child {
                    border-radius: 1rem 1rem 1rem 0;
                }

                &:nth-child(2) {
                    border-radius: 1rem 1rem 0 1rem;
                }

                &:last-child {
                    grid-column: 1 / span 2;
                    border-radius: 0 0 1rem 1rem;
                }
            }
        }
    }
}