@import "@/styles/color.scss";

%bar {
    position: relative;
    border-radius: 1rem;
    background-color: $primary;
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: center;

    #bar-return {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 1.5rem;
        transform: translateY(-50%);

        i {
            font-size: 2.25rem;
            color: $white;
        }
    }

    #bar-logo {
        img {
            height: 2.5rem;
        }
    }
}