@import "@/styles/color.scss";

%button {
    width: 100%;
    border: none;
    outline: none;
    padding: 1.2rem 2.4rem;
    min-height: 4.8rem;
    border-radius: 0.8rem;
    background-color: $primaryDark;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;

    &.active {
        background-color: $white;

        p,
        i {
            color: $primary;
        }
    }

    &.loading {
        background-color: darken($primary, 1%);
    }

    p {
        font-size: 1.5rem;
        font-weight: 600;
        color: $white;
        transition: color 0.3s ease;
    }

    i {
        font-size: 1.5rem;
        color: $white;
        transition: color 0.3s ease;
    }
}